<!DOCTYPE html>

<!--remember this is how you make comments in .html files?-->

<html>
  <head>
    <title>((( Scratch Pad )))</title>
    <link href= "html_img.png" rel="icon">
  </head>


  <body>
    <h1>This is my first web app developed using Python</h1>
    <div>
      This is the first dummy comment.
    </div>
    <div>
      Here is another comment, written by another dummy.
    </div>
    <div>
      The third comment...
    </div>
    <div>
      <form action="." method="POST">
        <textarea name="contents" placeholder="Enter a comment"></textarea>
        <input type="submit" value="Post comment">
      </form>
    </div>
  </body>
</html>
